name: Node.js CI

on:
  push

jobs:
  build:
  
    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x]
        os: [windows-latest, ubuntu-latest, macOs-latest]

    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - run: npm ci
    - run: npm test
