name: SystemTest
on:
    push:
        tags:
            - '*'
    workflow_dispatch:

jobs:
    test:
        strategy:
            matrix:
                node-version: [16.x, 18.x]
                os: [windows-latest, ubuntu-latest, macOs-latest]
                java-version: [11, 17, 18]
        runs-on: ${{matrix.os}}
        steps:
            - uses: actions/checkout@v6
            - name: Setup Node.js ${{matrix.node-version}} environment
              uses: actions/setup-node@v6
              with:
                  node-version: ${{matrix.node-version}}
            - name: Setup Java JDK ${{matrix.java-version}}
              uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version: ${{matrix.java-version}}
            - name: Setup tests
              working-directory: ${{github.workspace}}/test/system_test
              run: npm install
            - name: Run tests
              working-directory: ${{github.workspace}}/test/system_test
              run: npm run test
              timeout-minutes: 20

    test-arm64:
        strategy:
            matrix:
                node-version: [16, 18]
                java-version: [21]
        runs-on: ubuntu-24.04
        steps:
            - uses: actions/checkout@v6
            - name: Init qemu
              run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
            - name: Run tests
              uses: addnab/docker-run-action@v3
              timeout-minutes: 180
              with:
                  image: arm64v8/node:${{matrix.node-version}}-trixie
                  options: -v ${{github.workspace}}/test:/github/workspace -w /github/workspace/system_test
                  run: |
                      apt-get update
                      apt-get install openjdk-${{matrix.java-version}}-jre-headless -y
                      npm config set cache /tmp --global
                      export CI=true
                      npm install
                      npm run test
