name: Build test container
on:
    workflow_dispatch:
        inputs:
            node-version:
                description: 'Node version'
                required: true
            debian-version:
                description: 'Debian version'
                required: true
            jdk-version:
                description: 'JDK version'
                required: true

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ghcr.io/markusjx/node-java-bridge/java-bridge-asan-testcontainer:latest

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - name: Docker login
              run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login $REGISTRY -u ${{ github.actor }} --password-stdin
            - name: Build image
              run: |
                docker build --push -f docker/Dockerfile.asan -t $IMAGE_NAME\
                  --build-arg JDK_VERSION=${{github.event.inputs.jdk-version}} \
                  --build-arg NODE_VERSION=${{github.event.inputs.node-version}} \
                  --build-arg DEBIAN_VERSION=${{github.event.inputs.debian-version}} .
